.cases__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.case-card__image {
    img {
        width: 100%;
        max-width: 720px;
        display: block;

        margin: 0 auto;

        border: 1px solid rgba(var(--border-blue-rgb), 0.08);

        transition:
            transform 0.25s ease,
            box-shadown 0.25s ease;

        cursor: zoom-in;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 12px 32px rgba(var(--border-blue-rgb), 0.08);
        }
    }
}

.case-card__caption {
    text-align: center;

    font-size: 0.9rem;
    color: var(--text-secondary);
}

.image-modal {
    position: fixed;
    inset: 0;

    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem;

    background: rgba(var(--border-blue-rgb), 0.50);

    backdrop-filter: blur(6px);

    opacity: 0;
    visibility: hidden;

    transition:
        opacity 0.25s ease,
        visibility 0.25s ease;

    cursor: zoom-out;

    img {
        max-width: 95%;
        max-height: 95vh;

        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);

        transform: scale(0.96);

        transition: transform 0.25s ease;
    }

    &.active {
        opacity: 1;
        visibility: visible;

        img {
            transform: scale(1)
        }
    }
}