body {
    background: var(--bg);
    color: var(--text);

    font-family: 'Inter', sans-serif;
}

main {
    width: 100%;
}

.container {
    width: 100%;
    max-width: var(--container);

    margin: 0 auto;
    padding: 0 1.5rem;
}