body {
    background: var(--bg);
    color: var(--text);

    font-family: 'Inter', sans-serif;
}

main {
    width: 100%;
}

section {
    padding: 5rem 0;
}

.container {
    width: min(1120px, 100% - 2rem);
    max-width: var(--container);

    margin: 0 auto;
    padding: 0 1.5rem;

    margin-inline: auto;
}

// * {
//     outline: 1px solid red;
// }

@media (max-width: 768px) {
    section {
        padding: 4rem 0 !important;
    }

    .container {
        width: calc(100% - 1rem);

        padding: 0 1rem;
    }
}